
<div class="footer">
    <div class="foo">
    <div class="foot_prin">
        <div class="container ">
            <div class="row">
                <div class="col-sm-3 ">
                    <img src="assets/img/logogray-png.png" alt="" height="55px">
                </div>
                <div class="col-sm-6 text-center  text_footer">
                    <p> <span style="cursor: pointer" routerLink="/politicas-privacidad"> Politícas de privacidad </span> <span>|</span> <span style="cursor: pointer" routerLink="/terminos-condiciones" > Términos y Condiciones</span></p>
                </div>
                <div class="col-sm-3 text-center text_footer">
                    <span><img src="assets/img/fb.png" alt="">  <img src="assets/img/msj.png" alt=""></span>
                </div>
            </div>
        </div>
    </div>
    <div class="foot_sec">
        <div class="container">
            <div class="row">
                <div class="col-sm-6   text_footer_sec">
                    <p>© YO BUSCO 2019</p>
                </div>
                <div class="col-sm-6  text_r  text_footer_sec">
                    <p>All Rights Reserved © 2019. BRANDON STUDIOS</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

