<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="assets/img/bg_solicitud.png" class="d-block w-100 imgslide">
      </div>
  </div>
</div>

<div class="text-publica ">
  <div class="container">

  <span><a routerLink="/perfil">Perfil</a> / <a >Editar Solicitud</a> </span>

  <h4 class="register_in_h4">Editar Solicitud</h4>
</div>
</div>



<div class="container registre "  >
  <form class="row" #FormEditSolicitud="ngForm" (submit)="editSolicitud(FormEditSolicitud)" autocomplete="of">

       <div class="col-lg-6">
   <br>
           <div class="form-group row">
              <label  class="col-2 label_text ">Tipo :</label>
             <div class="col-10">

               <div class="btn-group style_toggle " data-toggle="buttons"  style="width: 100%" >
                  <label  class="btn btn-primary  active" (click)="register.type_apar = 'DEPARTAMENTO'" >
                    <input
                    type="radio"
                    name="type_apar"
                    [(ngModel)]="register.type_apar"
                    value="DEPARTAMENTO">DEPARTAMENTO
                  </label>
                  <label  class="btn btn-primary" (click)="register.type_apar = 'CASA'">
                    <input
                    type="radio"
                    name="type_apar"
                    [(ngModel)]="register.type_apar"
                    value="CASA">CASA
                  </label>
                  <label  class="btn btn-primary" (click)="register.type_apar = 'OFICINA'">
                    <input
                    type="radio"
                    name="type_apar"
                    [(ngModel)]="register.type_apar"
                    value="OFICINA">OFICINA
                  </label>
                  <label  class="btn btn-primary" (click)="register.type_apar = 'TERRENO'">
                    <input
                    type="radio"
                    name="type_apar"
                    [(ngModel)]="register.type_apar"
                    value="TERRENO">TERRENO
                  </label>
                <label style="color:red ;margin-top: 8px;font-weight: bold;margin-left: 2px" >*</label>
                </div>
              </div>
           </div>

           <div class="form-group row ">
              <label  class="col-2 label_text ">Operación :</label>
             <div class="col-10">
              <div class="btn-group style_toggle" data-toggle="buttons" style="width: 100%">
                  <label class="btn btn-primary active" (click)="changeVacacional('ALQUILER')" >
                    <input
                    type="radio"
                    name="operation"
                    value="ALQUILER"

                    [(ngModel)]="register.operation">ALQUILER
                  </label>
                  <label class="btn btn-primary" (click)="changeVacacional('VENTA')" >
                    <input
                    type="radio"
                    name="operation"
                    value="VENTA"
                    [(ngModel)]="register.operation">COMPRA
                  </label>
                  <label class="btn btn-primary" (click)="changeVacacional('VACACIONAL')" >
                    <input
                    type="radio"
                    name="operation"
                    value="VACACIONAL"
                    [(ngModel)]="register.operation">VACACIONAL
                  </label>
                <label style="color:red ;margin-top: 8px;font-weight: bold;margin-left: 2px" >*</label>
                </div>
              </div>
           </div>

           <div class="form-group row " *ngIf="rangeDate">
              <label  class="col-2 label_text ">Tiempo :</label>
             <div class="col-12  text-center">
            <ngb-datepicker #dp id="dp" (select)="onDateSelection($event)" [lang]="es" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
            </ngb-datepicker>
            <ng-template #t let-date let-focused="focused">
                <span class="custom-day"
                      [class.focused]="focused"
                      [class.range]="isRange(date)"
                      [class.faded]="isHovered(date) || isInside(date)"
                      (mouseenter)="hoveredDate = date"
                      (mouseleave)="hoveredDate = null">
                  {{ date.day }}
                </span>
              </ng-template><br>
          </div>
           </div>

           <div class="form-group  row">
              <label  class="col-2 label_text ">Dormitorios :</label>
             <div class="col-10">
              <div class="btn-group style_toggle" data-toggle="buttons" style="width: 80%">
                  <label class="btn btn-primary active" (click)="register.door = '1'">
                    <input type="radio" name="door" value="1" [(ngModel)]="register.door" >1 a +
                  </label>
                  <label class="btn btn-primary" (click)="register.door = '2'">
                    <input type="radio" name="door" value="2" [(ngModel)]="register.door" >2 a +
                  </label>
                  <label class="btn btn-primary" (click)="register.door = '3'">
                    <input type="radio" name="door" value="3" [(ngModel)]="register.door" >3 a +
                  </label>
                  <label class="btn btn-primary" (click)="register.door = '4'">
                      <input type="radio" name="door" value="4" [(ngModel)]="register.door" >4 a +
                    </label>
                    <label class="btn btn-primary" (click)="register.door = '5'">
                        <input type="radio" name="door" value="5" [(ngModel)]="register.door">5 a +
                      </label>
                <label style="color:red ;margin-top: 8px;font-weight: bold;margin-left: 2px" >*</label>
                </div>
              </div>
           </div>

           <div class="form-group row">
              <label  class="col-2 label_text ">Baños :</label>
             <div class="col-10">
              <div class="btn-group style_toggle" data-toggle="buttons" style="width: 80%">
                  <label class="btn btn-primary active" (click)="register.bano = '1'">
                    <input type="radio" name="bano" value="1" checked [(ngModel)]="register.bano">1 a +
                  </label>
                  <label class="btn btn-primary" (click)="register.bano = '2'">
                    <input type="radio" name="bano" value="2" [(ngModel)]="register.bano">2 a +
                  </label>
                  <label class="btn btn-primary" (click)="register.bano = '3'">
                    <input type="radio" name="bano" value="3" [(ngModel)]="register.bano" >3 a +
                  </label>
                  <label class="btn btn-primary" (click)="register.bano = '4'">
                      <input type="radio" name="bano" value="4" [(ngModel)]="register.bano" >4 a +
                    </label>
                    <label class="btn btn-primary" (click)="register.bano = '5'">
                        <input type="radio" name="bano" value="5" [(ngModel)]="register.bano" >5 a +
                      </label>
                <label style="color:red ;margin-top: 8px;font-weight: bold;margin-left: 2px" >*</label>
                </div>
              </div>
           </div>

           <div class="form-group  row">
              <label  class="col-2 label_text ">Cocheras :</label>
             <div class="col-10">
              <div class="btn-group style_toggle" data-toggle="buttons" style="width: 80%">
                  <label class="btn btn-primary active" (click)="register.cochera = 'NO'">
                    <input type="radio" name="cochera" checked value="NO" [(ngModel)]="register.cochera">NO
                  </label>
                  <label class="btn btn-primary" (click)="register.cochera = '1'">
                    <input type="radio" name="cochera" value="1" [(ngModel)]="register.cochera">1 a +
                  </label>
                  <label class="btn btn-primary" (click)="register.cochera = '2'">
                    <input type="radio" name="cochera" value="2" [(ngModel)]="register.cochera">2 a +
                  </label>
                  <label class="btn btn-primary" (click)="register.cochera = '3'">
                      <input type="radio" name="cochera" value="3" [(ngModel)]="register.cochera">3 a +
                    </label>
                    <label class="btn btn-primary" (click)="register.cochera = '4'">
                        <input type="radio" name="cochera" value="4" [(ngModel)]="register.cochera">4 a +
                      </label>
                <label style="color:red ;margin-top: 8px;font-weight: bold;margin-left: 2px" >*</label>
                </div>
              </div>
           </div>

           <div class="form-group row ">
              <label  class="col-2 label_text ">Vista :</label>
             <div class="col-10">
              <div class="btn-group style_toggle" data-toggle="buttons" style="width: 70%">
                  <label class="btn btn-primary active" (click)="register.vista = 'INTERNA'">
                    <input type="radio" name="vista" checked value="INTERNA" [(ngModel)]="register.vista">INTERNA
                  </label>
                  <label class="btn btn-primary" (click)="register.vista = 'EXTERNA'">
                    <input type="radio" name="vista" value="EXTERNA" [(ngModel)]="register.vista" >EXTERNA
                  </label>

                  <label class="btn btn-primary" (click)="register.vista = 'INDISTINTO'">
                      <input type="radio" name="vista" value="INDISTINTO" [(ngModel)]="register.vista">INDISTINTO
                    </label>

                <label style="color:red ;margin-top: 8px;font-weight: bold;margin-left: 2px" >*</label>
                </div>
              </div>
           </div>

           <div class="form-group row">
              <label  class="col-2 label_text ">Tipo :</label>
             <div class="col-10">
              <div class="btn-group style_toggle" data-toggle="buttons"  style="width: 70%">
                  <label class="btn btn-primary active" (click)="register.tipo = 'FLAT'">
                    <input type="radio" name="tipo" checked value="FLAT" [(ngModel)]="register.tipo">FLAT
                  </label>
                  <label class="btn btn-primary" (click)="register.tipo = 'DUPLEX'">
                    <input type="radio" name="tipo" value="DUPLEX" [(ngModel)]="register.tipo">DUPLEX
                  </label>

                  <label class="btn btn-primary" (click)="register.tipo = 'INDISTINTO'">
                      <input type="radio" name="tipo" value="INDISTINTO" [(ngModel)]="register.tipo">INDISTINTO
                    </label>

                <label style="color:red ;margin-top: 8px;font-weight: bold;margin-left: 2px" >*</label>
                </div>
              </div>
           </div>

           <div class="form-group row ">
              <label  class="col-2 label_text ">Amoblado :</label>
             <div class="col-10">
              <div class="btn-group style_toggle" data-toggle="buttons"  style="width: 70%">
                  <label class="btn btn-primary active" (click)="register.amoblado = 'FULL'">
                    <input type="radio" name="amoblado" checked value="FULL" [(ngModel)]="register.amoblado">FULL
                  </label>
                  <label class="btn btn-primary" (click)="register.amoblado = 'SEMI'">
                    <input type="radio" name="amoblado" value="SEMI" [(ngModel)]="register.amoblado">SEMI
                  </label>
                  <label class="btn btn-primary" (click)="register.amoblado = 'SIN'">
                      <input type="radio" name="amoblado" value="SIN" [(ngModel)]="register.amoblado">SIN
                    </label>

                  <label class="btn btn-primary" (click)="register.amoblado = 'INDISTINTO'">
                      <input type="radio" name="amoblado" value="INDISTINTO" [(ngModel)]="register.amoblado">INDISTINTO
                    </label>

                <label style="color:red ;margin-top: 8px;font-weight: bold;margin-left: 2px" >*</label>
                </div>
              </div>
           </div>

           <div class="form-group row">
              <label  class="col-2 label_text ">Estreno :</label>
             <div class="col-10">
              <div class="btn-group style_toggle" data-toggle="buttons"  style="width: 40%">
                  <label class="btn btn-primary active" (click)="register.estreno = 'SI'">
                    <input type="radio" name="estreno" checked value="SI" [(ngModel)]="register.estreno">SI
                  </label>
                  <label class="btn btn-primary" (click)="register.estreno = 'NO'">
                    <input type="radio" name="estreno" value="NO" [(ngModel)]="register.estreno">NO
                  </label>

                  <label class="btn btn-primary" (click)="register.estreno = 'INDISTINTO'">
                    <input type="radio" name="estreno" value="INDISTINTO" [(ngModel)]="register.estreno">INDISTINTO
                  </label>

                <label style="color:red ;margin-top: 8px;font-weight: bold;margin-left: 2px" >*</label>
                </div>
              </div>
           </div>

           <div class="form-group row">
              <label  class="col-2 label_text ">Proyecto :</label>
             <div class="col-10">
              <div class="btn-group style_toggle" data-toggle="buttons"  style="width: 40%">
                  <label class="btn btn-primary active" (click)="register.proyecto = 'SI'">
                    <input type="radio" name="proyecto" checked value="SI" [(ngModel)]="register.proyecto">SI
                  </label>
                  <label class="btn btn-primary" (click)="register.proyecto = 'NO'">
                    <input type="radio" name="proyecto" value="NO" [(ngModel)]="register.proyecto">NO
                  </label>
                  <label class="btn btn-primary" (click)="register.proyecto = 'INDISTINTO'">
                    <input type="radio" name="proyecto" value="INDISTINTO" [(ngModel)]="register.proyecto">INDISTINTO
                  </label>

                <label style="color:red ;margin-top: 8px;font-weight: bold;margin-left: 2px" >*</label>
                </div>
              </div>
           </div>

           <div class="form-group row">
              <label  class="col-2 label_text ">Área :</label>
             <div class="col-10">
               <input type="text"
               class="form-control input_login sm-2"
               name="area"
               #area_="ngModel"
               [(ngModel)]="register.area"
               pattern="[0-9.]*"
               required

               placeholder="Área"
               (keypress)="onlyNumber($event)" >
               <label style="color:rgb(24, 52, 207) !important; margin-left: 2px">m2</label><label style="color:red ;margin-top: 8px;font-weight: bold;margin-left: 2px" >*</label>


               <div *ngIf="area_.invalid && (area_.dirty )" class="validif" >
                <div *ngIf="area_.errors.required">Area es requerido*</div>
                <div *ngIf="area_.errors.pattern">
                  Area debe contener solo numeros*
                 </div>
            </div>

              </div>
           </div>

           <div class="form-group row">
              <label  class="col-2 label_text ">Presupuesto :</label>
             <div class="col-10">
                <select name="type_p"
                 class="form-control input_login sm-1"
                 name="pre_type"
                 #type_pre="ngModel"
                [(ngModel)]="register.pre_type"
                required>

                    <option value="SOLES" selected>S/.</option>
                    <option value="DOLARES">$USD</option>

                </select>

                <div *ngIf="type_pre.invalid && (type_pre.dirty)" class="validif" >
                    <div *ngIf="type_pre.errors.required"></div>
                </div>

               <input
               type="text"
               class="form-control input_login sm"
               name="pre_price"
               #price_pre="ngModel"
               [(ngModel)]="register.pre_price"
               pattern="[0-9.]*"
               required

               placeholder="Máximo"
               (keypress)="onlyNumber($event)"> <label style="color:red ;margin-top: 8px;font-weight: bold;margin-left: 2px" >*</label>

               <div *ngIf="price_pre.invalid && (price_pre.dirty)" class="validif" >
                <div *ngIf="price_pre.errors.required">Presupuesto es requerido*</div>
                <div *ngIf="price_pre.errors.pattern">
                  Presupuesto debe contener solo numeros*
                 </div>
            </div>

              </div>
           </div>


           <div class="form-group row">
              <label  class="col-2 label_text ">Mantenimiento :</label>
             <div class="col-10">
                <select
                name="man_type"
                [(ngModel)]="register.man_type"
                class="form-control input_login sm-1"
                #type_man="ngModel"
                required>
                    <option value="SOLES" selected>S/.</option>
                    <option value="DOLARES">$USD</option>
                </select>

                <div *ngIf="type_man.invalid && (type_man.dirty)" class="validif" >
                    <div *ngIf="type_man.errors.required"></div>
                </div>

               <input type="text"
               class="form-control input_login sm"
               name="man_price"
               #price_man="ngModel"
               [(ngModel)]="register.man_price"
               pattern="[0-9.]*"
               required

               placeholder="Máximo"
               (keypress)="onlyNumber($event)" >

                <label style="color:red ;margin-top: 8px;font-weight: bold;margin-left: 2px" >*</label>

                <div *ngIf="price_man.invalid && (price_man.dirty)" class="validif" >
                  <div *ngIf="price_man.errors.required">Mantenimiento es requerido*</div>
                  <div *ngIf="price_man.errors.pattern">
                    Mantenimiento debe contener solo numeros*
                   </div>
              </div>


              </div>
           </div>

           <div class="form-group row">
              <label  class="col-2 label_text ">Comentario :</label>
             <div class="col-10">


               <textarea rows="4"
               class="form-control input_login "
               name="comentario"
               #comentario_="ngModel"
               [(ngModel)]="register.comentario" > </textarea>





              </div>
           </div>



       </div>





     <div class="col-lg-6 " >

       <div class="form-group row" style="margin-left: 0px;margin-right: 0px;">


        <div class="col-12" style="padding: 0px;">
          <div class="nav nav-pills text-center bord" id="v-pills-tab" role="tablist" aria-orientation="horizontal" >
                 <a class="nav-link active" (click)="change('distrito')" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true" style="display: inline-block;width: 50%">UBICACIÓN POR DISTRITO</a>
                  <a  class="nav-link" (click)="change('area')" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" style="display: inline-block;width: 50%" aria-selected="false">UBICACIÓN POR ÁREA</a>
           </div>
        </div>

        <div class="tab-content col-12" id="v-pills-tabContent" style="padding: 0px;">

          <label style="color:red ;position: absolute;right: -10px;font-weight: bold; top:-30px" >*</label>
          <div class="tab-pane fade show active bor-t bodr" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="form-group row" style="margin-left: 0px; margin-right: 0px;">
              <div class="col-1"></div>
            <label  class="col-3 label_text pd-l" style="padding-left: 25px;transition: 0.5s">Departamento :</label>
              <div class="col-7">

                <select
                    name="departamento"
                    [(ngModel)]="register.departamento"
                    class="form-control input_login sm-4 "
                    style="display: inline-block"
                    (change)="selDepart();"
                    id="department"
                    #departamento_="ngModel"
                    >
                    <option *ngFor="let kdpt of keyDeparts" [selected]="kdpt === departSeleccionado"  [attr.value]="kdpt">{{objDepart[kdpt].name}}</option>

                </select>

            </div>
            <div class="col-2"></div>
          </div>

          <div class="form-group row" style="margin-left: 0px; margin-right: 0px;">

            <div class="col-1"></div>
            <label  class="col-3 label_text pd-l " style="padding-left: 25px;transition: 0.5s">Provincia :</label>
            <div class="col-7 ">

                     <select
                         name="provincia"
                         [(ngModel)]="register.provincia"
                         class="form-control input_login sm-4"
                         style="display: inline-block;"
                         id="city"
                         (change)="selCity();"
                         #provincia_="ngModel"
                         >
                         <option *ngFor="let prov of showProvs;" [selected]="prov.sku === proviSeleccionado" value="{{prov.sku}}">{{prov.name}}</option>
                     </select>



                 </div>

                 <div class="col-1"></div>
          </div>
          <div class="form-group row" style="margin-left: 0px; margin-right: 0px;">
                 <div class="col-1"></div>
                 <label  class="col-3 label_text  pd-l" style="padding-left: 25px;transition: 0.5s">Distrito :</label>

                 <div class="col-7 ">

                    <select
                        name="distrito"
                        [(ngModel)]="register.distrito"
                        class="form-control input_login sm-4"
                        style="display: inline-block;"
                        id="district"
                        (change)="selDistrict();"
                        #distrito_="ngModel"
                        >
                        <option *ngFor="let distrito of showDists;" [selected]="distrito.sku === districSeleccionado" value="{{distrito.sku}}">{{distrito.name}}</option>

                    </select>


                 </div>

                 <div class="col-1"></div>

                </div>

                 <div class="col-12 text-center agregar" style="margin-top: 5px; margin-bottom: 15px" >
                   <span>Agregar Distrito <a class="btn" (click)="addDistrito()">+</a> (Hasta 3 distritos)</span>
                 </div>



                 <div class="col-12 text-center">
                   <div class="row show_dis" style="margin:0px;">
                    <div class='col-4' *ngFor="let d of distric;let indice=index"  style='padding:0px'>
                      <a href='javascript:void(0)' title='Eliminar Distrito' (click)="eliminarItem(indice)" class='dis-d'  >{{setDistrito(d)}}</a>
                    </div>
                  </div>
                 </div>





             </div>

             <div class="tab-pane fade bodr" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                <agm-map [latitude]="latitude" id="map" [longitude]="longitude" [zoom]="zoom" (mapClick)="mapClicked($event)" style="height: 296px;">

                  <agm-circle *ngFor="let m of markers ;let indice=index" [latitude]="setmapalat(m)" [longitude]="setmapalon(m)"
                   [radius]="500"
                   [fillColor]="colors[indice]">
                   </agm-circle>



                </agm-map>

                <div class="row" id="legend">


                <div  class="col-4 text-center" *ngFor="let m of markers ;let indice=index"  >
                  <span [style.background-color]="colors[indice]" class="span_hover"
                   style="width: 70%; padding: 5px 15px; color: white;border-radius: 30px;font-weight: bold; transition: 0.5s;left: 20px;"
                   (click)="eliminarItem_mapa(indice)" title='Eliminar Area'>
                   Area {{indice+1}}</span>

                  </div>
                </div>


            </div>

            </div>




        </div>










       <div class="form-group row " style="margin-left: 0px;margin-right: 0px; margin-top: 20px">

        <div class="col-12" style="padding: 0px;">
          <label style="color:red ;position: absolute;right: -10px;font-weight: bold; top:10px" >*</label>
          <div class="btn-group style_toggle "   style="width: 100%;margin:0px" >
              <label  class="btn btn-primary  margin0 border-b chb"  >
                  <i style="font-size: 40px" class="fas fa-pallet"></i> <br>
                <input
                type="checkbox"
                name="terraza"
                [(ngModel)]="register.terraza">BALCÓN Ó TERRAZA
              </label>
              <label  class="btn btn-primary margin0 border-b border-r chb" >

                  <i style="font-size: 40px" class="fas fa-paw"></i><br>
                <input
                type="checkbox"
                name="mascota"
                [(ngModel)]="register.mascota">MASCOTAS
              </label>
              <label  class="btn btn-primary margin0 border-b  chb" >
                  <i style="font-size: 40px" class="fas fa-dolly"></i><br>
                <input
                type="checkbox"
                name="deposito"
                [(ngModel)]="register.deposito">DEPÓSITO
              </label>
              <label  class="btn btn-primary margin0 border-b  chb" >
                  <i style="font-size: 40px" class="fas fa-grip-vertical"></i><br>
                <input
                type="checkbox"
                name="ascensor"
                [(ngModel)]="register.ascensor">ASCENSOR
              </label>
            </div>
            <div class="btn-group style_toggle "   style="width: 100%;margin:0px ;border-bottom: 0px"  >
                <label  class="btn btn-primary  margin0 border-b chb" >
                    <i style="font-size: 40px" class="fas fa-eye"></i> <br>
                  <input
                  type="checkbox"
                  name="vigilancia"
                  [(ngModel)]="register.vigilancia">VIGILANCIA
                </label>
                <label  class="btn btn-primary margin0 border-b border-r chb" >

                    <i style="font-size: 40px" class="fas fa-door-closed"></i><br>
                  <input
                  type="checkbox"
                  name="servicio"
                  [(ngModel)]="register.servicio">CUARTO DE SERVICIO
                </label>
                <label  class="btn btn-primary margin0 border-b chb" >
                    <i  style="font-size: 40px" class="fas fa-wheelchair"></i> <br>
                  <input
                  type="checkbox"
                  name="dscp"
                  [(ngModel)]="register.dscp">ACCESO DSCSDOS
                </label>
                <label  class="btn btn-primary margin0 border-b chb" >
                    <i style="font-size: 40px" class="fas fa-wine-glass-alt"></i> <br>
                  <input
                  type="checkbox"
                  name="reunion"
                  [(ngModel)]="register.reunion">SALA DE REUNIÓN
                </label>

              </div>
              <div class="btn-group style_toggle "      style="width: 100%"  >
                  <label  class="btn btn-primary  margin0 chb" >
                      <i style="font-size: 40px" class="fas fa-swimmer"></i><br>
                    <input
                    type="checkbox"
                    name="piscina"
                    [(ngModel)]="register.piscina">PISCINA
                  </label>
                  <label  class="btn btn-primary margin0 border-r chb" >

                      <i style="font-size: 40px" class="fas fa-dumbbell"></i> <br>
                    <input
                    type="checkbox"
                    name="gym"
                    [(ngModel)]="register.gym">GIMNASIO
                  </label>
                  <label  class="btn btn-primary margin0 chb" >
                      <i style="font-size: 40px" class="fas fa-utensils"></i> <br>
                    <input
                    type="checkbox"
                    name="parrilla"
                    [(ngModel)]="register.parrilla">PARRILLA
                  </label>
                  <label  class="btn btn-primary margin0 chb"   >
                      <i style="font-size:40px" class="fas fa-volleyball-ball"></i><br>
                    <input
                    type="checkbox"
                    name="juego"
                    [(ngModel)]="register.juego">JUEGOS
                  </label>
                </div>

          </div>

       </div>



     </div>






       <div class=" col-12 justify-content-md-center wid"><br><br>
         <div class="row justify-content-md-center">
         <div class="fir_se">
          <button type="submit" style=" width: 100px !important;font-size: 15px" class="btn bg-blul button_red" [disabled] = "!FormEditSolicitud.valid" >GUARDAR CAMBIOS</button>
        </div>
      </div>
      </div>


    </form>
</div>


<div style="clear: both"></div>


<div class="modal fade modal-edit" id="modal_ok" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

          <div class="modal-body">
              <div class="text-center"><br>
                  <img src="assets/img/logoblue-png.png" alt="">
                  <a class="btn_cerrar_modal" data-dismiss="modal">X</a>
              </div>
              <div class="text-center"><br> <h6>Editar</h6></div>
              <div class="text-center"><i style="font-size: 50px;color: green" class="far fa-check-circle"></i></div>
              <div class="text-center container"><br><p>Los datos se actualizaron correctamente.</p></div>
               <div class="text-center container">
                <a  style="color:white"  data-dismiss="modal" class="btn bg-blul_ingresar btn-block bg" >Cerrar</a><br>
               </div>
          </div>
      </div>
  </div>
</div>
